In [ ]:
#Importing necessary libraries

In [2]:
import pandas as pd

In [3]:
#load the dataset to pandas dataframe

In [4]:
df=pd.read_csv(r"C:\Users\SKAN\Downloads\creditcard.csv\creditcard.csv")

In [5]:
#first 5 rows of the dataframe

In [6]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
#last 5 rows of the dataframe

In [8]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [9]:
df.shape

(284807, 31)

In [10]:
#Distribution of two classes

In [11]:
df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
#This is Highly imbalanced dataset

In [ ]:
#0-->legit transaction
#1-->fraudulent transaction

In [ ]:
#Separating the legit and fraud transaction

In [20]:
legit=df[df["Class"]==0]
fraud=df[df["Class"]==1]

In [34]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
#Undersampling
#Build a sample dataset containing similar distribution of legit and fruad transaction
#No of fraudalent transaction=492

In [21]:
legit_sample=legit.sample(n=492)

In [22]:
legit_sample.shape

(492, 31)

In [ ]:
#concatenate the two dataframe

In [24]:
new_df=pd.concat([legit_sample,fraud],axis=0)

In [25]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
10614,17774.0,-0.997733,0.948566,2.945517,2.248729,0.069580,0.613814,0.241247,-0.351123,1.468993,...,-0.172416,0.128610,0.054350,0.332981,-0.351864,-0.225273,-0.914558,-0.406564,0.00,0
210915,138181.0,1.897381,0.565200,-0.293587,3.682029,0.170597,-0.248565,0.079697,-0.030460,-0.897814,...,-0.447935,-1.458897,0.570719,-0.242349,-0.686239,-0.628381,-0.026976,-0.031579,9.99,0
176214,122675.0,-2.407523,0.466559,-1.308118,-0.485713,1.145787,-0.979535,1.369961,-1.284493,-0.557312,...,-0.023731,1.777327,0.116843,0.730525,1.020164,0.696316,-0.203109,0.103473,10.00,0
98783,66813.0,0.944943,-0.771195,-0.480701,0.692596,1.502994,4.429403,-0.884032,1.120380,1.126154,...,-0.424542,-1.211657,-0.085908,1.001435,0.609808,-0.536257,0.053628,0.046099,131.42,0
206577,136264.0,-3.221994,-0.813384,1.046717,-0.377983,-1.605824,1.767083,-0.865389,1.509364,1.711297,...,-0.067954,0.148694,-0.971805,-1.269283,0.614912,0.947888,0.540417,-0.265800,229.31,0

In [26]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
#Distribution of two classes in new dataset

In [28]:
new_df["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
from imblearn import under_sampling, over_sampling
from imblearn.over_sampling import SMOTE

In [13]:
x=df.drop('Class',axis=1)
y=df["Class"]

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=1)

In [30]:
sm = SMOTE(sampling_strategy=.25,random_state=2)
x_train_res, y_train_res = sm.fit_resample(x_train, y_train)

In [31]:
y_train_res.value_counts()

0    199007
1     49751
Name: Class, dtype: int64

In [32]:
 x_res,y_res = sm.fit_resample(x,y)

In [33]:
y_res.value_counts()

0    284315
1     71078
Name: Class, dtype: int64